/*** Sizing ***/

[class*="chatContent"] > form {
    margin-left:5px;
    margin-right:5px;
}
/* Chat message padding */
[class*="message"] {
    padding-top:0 !important;
    padding-bottom:0 !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
}
/* Overflowed lines indentation */
[class*="message"][class*=compact][class*=wrapper] {
    padding-left:6ch;
}
[class*="message"][class*=compact][class*=wrapper] > [class*="contents"] {
    margin-left:-8ch;
    text-indent:-6ch;
}
/* Video embeds */
[class*="embedFull"] [class*="embedMedia"] {
    padding-bottom:16px;
}
/* Embed clutter */
article[class*=embedWrapper] {
    max-width:2000px !important;
}
article [class*=embedProvider] {
    display:none;
}
/* Replies */
div[class*=repliedMessage] {
    margin-left:0px !important;
}
div[class*=repliedMessageClickableSpine] {
    margin-left:20px !important;
}
/* Input field icon spam */
[aria-label="Send a gift"], [aria-label="Open GIF picker"], [aria-label="Open sticker picker"], [class*=channelAppLauncher] {
    display:none !important;
}
/* Input field size */
:root {
    --custom-channel-textarea-text-area-height: 39px;
}
[class*=attachWrapper] {
    padding:4px !important;
}
/* Attachment button */
[class*=attachButton] {
    margin-right:0px;
}
/* Typing indicator */
[class*=typingDots] {
    margin-left:0px !important;
}
[class*=typingDots] > [class*=text] {
    margin-left:5px !important;
}



/*** Top bar ***/

/* Title bar spacing */
div[class*=bar] > div[class*=title] div[class*=icon] {
    display:none;
}
div[class*=bar] > div[class*=title] {
    padding-left: 8px;
    justify-content: left;
}
div[class*=bar] > div[class*=trailing] {
    gap:0;
}
/* Channel name */
[class*="chat"] > [class*="subtitleContainer"] > [class*="title"] [class*="children"] > [class*="iconWrapper"],
[class*="chat"] > [class*="subtitleContainer"] > [class*="title"] [class*="children"] > [class*="titleWrapper"],
[class*="chat"] > [class*="subtitleContainer"] > [class*="title"] [class*="children"] > [class*="divider"],
[class*="chat"] > [class*="subtitleContainer"] > [class*="title"] [class*="children"] > [class*="dot"] {
    display:none;
}
[class*="chat"] > [class*="subtitleContainer"] > [class*="title"] [class*="children"] > [class*="topic"] {
    margin-left:0px;
}
/* Search bar */
div[class*="searchBar"] {
    width:150px !important;
}
/* Mute/notifications icon */
div[aria-label^="Notification Settings" i] {
    display:none !important;
}
/* Help icon */
a[href="https://support.discord.com"] {
    display:none !important;
}
/* Bookmarks icon */
div[aria-label^="Bookmarks" i] {
    display:none !important;
}
/* Report bug/help center */
[aria-label="Help"] {
    display:none !important;
}



/*** Left bar (Servers) ***/

/* Width */
[aria-label="Servers sidebar"],
[aria-label="Servers sidebar"] [class*="listItem"] {
    width:34px !important;
}
/* Boost icon */
[class*="guildIconContainer"] {
    display: none !important;
}
/* Separator */
[class*="tutorialContainer"] ~ [class*="listItem"] {
    margin-bottom:0px;
}
[class*="guildSeparator"] {
    display:none;
}
/* Selected channel indicator */
[class*="pill"] {
    height:26px !important;
    transform:scaleY(0.5) translateY(1px);
}
[class*="pill"] > span {
    width:6px;
}
/* Left bar icons */
[aria-label="Servers sidebar"] [class*="listItemWrapper"] > [class*="wrapper"],
[aria-label="Servers sidebar"] [class*="listItemWrapper"] > [class*="wrapper"] > svg,
[aria-label="Servers sidebar"] [class*="blobContainer"] > [class*="wrapper"],
[aria-label="Servers sidebar"] [class*="blobContainer"] > [class*="wrapper"] > svg {
    width:30px !important;
    height:30px !important;
    margin-left:3px !important;
    margin-bottom:-8px !important;
}
[aria-label="Servers sidebar"] [class*="listItemWrapper"] > [class*="wrapper"] > svg,
[aria-label="Servers sidebar"] [class*="blobContainer"] > [class*="wrapper"] > svg {
    transform:translate(0px, 2px) !important;
}
svg[class*="homeIcon"] {
    width:26px !important;
    height:26px !important;
    font-size:26px !important;
    line-height:26px !important;
}
/* Events */
[class*=channelNotice] > [class*=textBlock] {
    white-space: normal;
}




/*** Channels ***/

/* Width */
@layer {
[class*="sidebarList"] {
    width:170px !important;
}
}
/* Channel padding */
[class*="sidebarList"] [class*="scroller"] {
    margin-right:-4px;
}
/* Nitro icon */
[class*="guildIconV2Container"] {
    display:none !important;
}
/* Threads */
[data-list-item-id^="channels"] { 
    text-transform: lowercase;
}
/* Invite/context menu icon in header */
[class*="sidebar"] [class*=inviteButton] {
    display:none !important;
}
/* Invite/context menu icon in channels*/
[class*="sidebar"] [aria-label$="Invite" i],
[class*="sidebar"] [aria-label^="Invite to" i],
[class*="sidebar"] [aria-label="Channel Options" i] {
    display:none !important;
}
[class*="sidebar"] [class*="iconVisibility"] [class*="channelInfo"] {
    margin:0px;
}
/* Name overlay (to cover width) */
[aria-label^="User area" i] > [class*="container"] {
    position: relative;
}
[aria-label^="User area" i] > [class*="container"] > :last-child {
    width: 136px;
    height: 100%;
    right: 0;
    display: none;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    padding-right:10px;
    background-color: var(--background-secondary-alt);
    border-radius: var(--radius-sm);
}
[aria-label^="User area" i] > [class*="container"]:hover > :last-child {
    display: flex;
}
[aria-label^="User area" i] > [class*="container"] > :last-child > button {
    width:34px;
}
/* Voice users */
[class*="sidebar"] [class*="list"] {
    padding-left:2px;
}
/* Voice buttons */
[class*="sidebar"] [class*="actionButtons"] button {
    font-size:0px;
}
[class*="sidebar"] [class*="actionButtons"] svg {
    margin:0px;
}
/* Live icon */
[class*="voiceUser"] [class*="live"] {
    font-size:0px;
}



/*** Text ***/

/* Text colour */
.theme-dark [class*="markup"] {
    color:#eee;
}



/*** IRC ***/

/* Bot tag */
[class*="hasSystemTag"], [class*="botTag"], [class*="botTag"] + [class*="username"] {
    display:none;
}
/* Cringy ass server spam badges */
[class*="chiplet"] {
    display:none !important; 
}
[class*="member"] > [class*="childContainer"] > [style] {
    display:none !important; 
}
/* Poll badge */
[class*="hasBadges"] {
    font-size: 0; 
}
[class*="hasBadges"] > * {
    font-size: 16px !important;
}
[class*="badgesContainer"] {
    margin-left:4px !important;
}
/* Margin between name and message */
[class*="headerText"] {
    margin-right:0px !important;
}
[class*="username"] {
    margin-right:0.25rem;
}
/* User names */
[class*="messageContent"] strong:nth-child(1):has(span):has(+span) {
    font-weight:normal;
    color:#ccc;
    margin-right:0.25rem;
}

/* Highlights for all replies */
div[class*=message-]:has(div[aria-label$="replying to Ezid"]:first-child) {
    background: var(--background-mentioned);
}



/*** Discord user names ***/
[id^="message-username-"] > [class*="username"] {
    font-size:100%;
}
[id^="message-username-"] > [class*="username"]:before {
    content:"<";
}
[id^="message-username-"] > [class*="username"]:after {
    content:">";
}



/*** Timestamps ***/

/* Always visible */
.theme-dark [class*="timestampVisibleOnHover"] {
    opacity:1;
}
/* Thinner */
span[class*="latin12CompactTimeStamp"] {
    width:calc(5ch) !important;
}
.vc-reply-timestamp {
    width:auto !important;
}
[class*="replyBadge"] {
    display:none !important;
}



/*** Spam ***/

/* Super reactions */
[aria-label="Add Super Reaction"] {
    display:none !important;
}
/* Stickers */
[class*="emojiStickersDivider"], [class*="emojiStickersDivider"] ~ div {
    display:none;
}
/* Emojis */
[class*="nitroTopDividerContainer"], [class*="premiumHeader"], [class*="premiumEmoji"] {
    display:none;
}
/** App launcher */
[class*="channelAppLauncher"] {
    display:none;
}

/* Minecraft admin role */
[style*="rgb(31, 139, 76)"] {
    color: rgb(52, 152, 219) !important;
}
