/*** Sizing ***/

[class^="chatContent_"] > form {
    margin-left:5px;
    margin-right:5px;
}
/* Chat message padding */
[class^="message_"] {
    padding-top:0 !important;
    padding-bottom:0 !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
}
/* Overflowed lines indentation */
[class^="message_"][class*=compact_][class*=wrapper_] {
    padding-left:6ch;
}
[class^="message_"][class*=compact_][class*=wrapper_] > [class^="contents_"] {
    margin-left:-8ch;
    text-indent:-6ch;
}
/* Padding between chat and input field */
[class^="scrollerSpacer_"] {
    max-height:22px !important;
}
/* Video embeds */
[class*="embedFull"] [class^="embedMedia"] {
    padding-bottom:16px;
}



/*** Top bar ***/

/* Channel name */
[class^="chat_"] > [class^="title_"] [class^="children_"] > [class^="iconWrapper_"],
[class^="chat_"] > [class^="title_"] [class^="children_"] > [class^="titleWrapper_"],
[class^="chat_"] > [class^="title_"] [class^="children_"] > [class^="divider_"] {
    display:none;
}
/* Mute/notifications icon */
div[aria-label^="Notification Settings" i] {
    display:none;
}
/* Help icon */
a[href="https://support.discord.com"] {
    display:none;
}
/* Input field icon spam */
[aria-label="Send a gift"], [aria-label="Open GIF picker"], [aria-label="Open sticker picker"] {
    display:none !important;
}



/*** Left bar (Servers) ***/

/* Width */
[class*="guilds_"],
[class*="guilds_"] [class*="listItem_"] {
    width:38px !important;
}
/* Separator */
[class*="tutorialContainer_"] ~ [class*="listItem_"] {
    margin-bottom:0px;
}
[class*="guildSeparator_"] {
    display:none;
}
/* Selected channel indicator */
[class^="pill_"] {
    height:26px !important;
    transform:scaleY(0.5);
}
[class^="pill_"] > [class^="item_"] {
    width:6px;
}
/* Left bar icons */
[class*="guilds_"] [class*="listItemWrapper_"] > [class*="wrapper_"],
[class*="guilds_"] [class*="listItemWrapper_"] > [class*="wrapper_"] > svg,
[class*="guilds_"] [class*="blobContainer_"] > [class*="wrapper_"],
[class*="guilds_"] [class*="blobContainer_"] > [class*="wrapper_"] > svg {
    width:26px;
    height:26px;
}
svg[class^="homeIcon_"] {
    width:26px;
    height:26px;
    font-size:26px;
    line-height:26px;
}




/*** Channels ***/

/* Width */
[class^="sidebar_"] {
    width:160px !important;
}
/* Threads */
[data-list-item-id^="channels_"] { 
    text-transform: lowercase;
}
/* Invite icon */
[class^="sidebar_"] [aria-label="Create Invite" i],
[class^="sidebar_"] [aria-label="Invite to Server" i] {
    display:none !important;
}
[class^="sidebar_"] [class^="iconVisibility_"] [class^="channelInfo_"] {
    margin:0px;
}
/* Name overlay (to cover width) */
[aria-label^="User area" i] > [class^="container_"] {
    position: relative;
}
[aria-label^="User area" i] > [class^="container_"] > :last-child {
    width: 100%;
    height: 100%;
    right: 0;
    display: none;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    padding-right:10px;
    background-color: var(--background-secondary-alt);
}
[aria-label^="User area" i] > [class^="container_"]:hover > :last-child {
    display: flex;
}
[aria-label^="User area" i] > [class^="container_"] > :last-child > button {
    width:34px;
}
/* Voice users */
[class^="sidebar_"] [class^="list_"] {
    padding-left:2px;
}
/* Voice buttons */
[class^="sidebar_"] [class^="actionButtons_"] button {
    font-size:0px;
}
[class^="sidebar_"] [class^="actionButtons_"] svg {
    margin:0px;
}
/* Live icon */
[class^="voiceUser_"] [class^="live_"] {
    font-size:0px;
}



/*** Text ***/

/* Text colour */
.theme-dark [class^="markup_"] {
    color:#eee;
}



/*** IRC ***/

/* Bot tag */
[class*="hasSystemTag"], [class^="botTag"], [class^="botTag"] + [class^="username_"], [class*="hasBadges_"] {
    display:none;
}
/* Margin between name and message */
[class^="headerText_"] {
    margin-right:0px !important;
}
[class^="username_"] {
    margin-right:0.25rem;
}
/* User names */
[class*="messageContent_"] strong:nth-child(1):has(span + span) {
    font-weight:normal;
    color:#ccc;
    margin-right:0.25rem;
}



/*** Discord user names ***/
[id^="message-username-"] > [class^="username_"] {
    font-size:100%;
}
[id^="message-username-"] > [class^="username_"]:before {
    content:"<";
}
[id^="message-username-"] > [class^="username_"]:after {
    content:">";
}



/*** Timestamps ***/

/* Always visible */
.theme-dark [class*="timestampVisibleOnHover"] {
    opacity:1;
}
/* Thinner */
[class^="latin12CompactTimeStamp_"] {
    width:calc(5ch) !important;
}



/*** Spam ***/

/* Super reactions */
[aria-label="Add Super Reaction"] {
    display:none !important;
}
/* Stickers */
[class*="emojiStickersDivider"], [class*="emojiStickersDivider"] ~ div {
    display:none;
}
