/*** Sizing ***/

[class^="chatContent_"] > form {
    margin-left:5px;
    margin-right:5px;
}
/* Chat message padding */
[class^="message_"] {
    padding-top:0 !important;
    padding-bottom:0 !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
}
/* Overflowed lines indentation */
[class^="message_"][class*=compact_][class*=wrapper_] {
    padding-left:6ch;
}
[class^="message_"][class*=compact_][class*=wrapper_] > [class^="contents_"] {
    margin-left:-8ch;
    text-indent:-6ch;
}
/* Video embeds */
[class*="embedFull"] [class^="embedMedia"] {
    padding-bottom:16px;
}
/* Embed clutter */
article[class^=embedWrapper] {
    max-width:2000px !important;
}
article [class^=embedProvider] {
    display:none;
}
/* Replies */
div[class^=repliedMessage_] {
    margin-left:0px !important;
}
div[class^=repliedMessageClickableSpine_] {
    margin-left:15px !important;
}
/* Input field icon spam */
[aria-label="Send a gift"], [aria-label="Open GIF picker"], [aria-label="Open sticker picker"], [class^=channelAppLauncher_] {
    display:none !important;
}
/** Input box */
[class^=textArea__] > div > div {
    margin-left:0px !important;
}



/*** Top bar ***/

/* Title bar spacing */
div[class^=bar_] > div[class^=title_] div[class^=icon_] {
    display:none;
}
div[class^=bar_] > div[class^=title_] {
    padding-left: 8px;
    justify-content: left;
}
div[class^=bar_] > div[class^=trailing_] {
    gap:0;
}
/* Channel name */
[class^="chat_"] > [class^="subtitleContainer_"] > [class^="title_"] [class^="children_"] > [class^="iconWrapper_"],
[class^="chat_"] > [class^="subtitleContainer_"] > [class^="title_"] [class^="children_"] > [class^="titleWrapper_"],
[class^="chat_"] > [class^="subtitleContainer_"] > [class^="title_"] [class^="children_"] > [class^="divider_"],
[class^="chat_"] > [class^="subtitleContainer_"] > [class^="title_"] [class^="children_"] > [class^="dot_"] {
    display:none;
}
[class^="chat_"] > [class^="subtitleContainer_"] > [class^="title_"] [class^="children_"] > [class^="topic_"] {
    margin-left:0px;
}
/* Search bar */
div[class^="searchBar_"] {
    width:150px !important;
}
/* Mute/notifications icon */
div[aria-label^="Notification Settings" i] {
    display:none !important;
}
/* Help icon */
a[href="https://support.discord.com"] {
    display:none !important;
}
/* Bookmarks icon */
div[aria-label^="Bookmarks" i] {
    display:none !important;
}
/* Report bug/help center */
[aria-label="Help"] {
    display:none !important;
}



/*** Left bar (Servers) ***/

/* Width */
[class*="guilds_"],
[class*="guilds_"] [class*="listItem_"] {
    width:34px !important;
}
/* Boost icon */
[class^="guildIconContainer_"] {
    display: none !important;
}
/* Separator */
[class*="tutorialContainer_"] ~ [class*="listItem_"] {
    margin-bottom:0px;
}
[class*="guildSeparator_"] {
    display:none;
}
/* Selected channel indicator */
[class^="pill_"] {
    height:26px !important;
    transform:scaleY(0.5);
}
[class^="pill_"] > span {
    width:6px;
}
/* Left bar icons */
[class*="guilds_"] [class*="listItemWrapper_"] > [class*="wrapper_"],
[class*="guilds_"] [class*="listItemWrapper_"] > [class*="wrapper_"] > svg,
[class*="guilds_"] [class*="blobContainer_"] > [class*="wrapper_"],
[class*="guilds_"] [class*="blobContainer_"] > [class*="wrapper_"] > svg {
    width:30px !important;
    height:30px !important;
    margin-left:3px !important;
    margin-bottom:-8px !important;
}
[class*="guilds_"] [class*="listItemWrapper_"] > [class*="wrapper_"] > svg,
[class*="guilds_"] [class*="blobContainer_"] > [class*="wrapper_"] > svg {
    transform:translate(0px, 2px) !important;
}
svg[class^="homeIcon_"] {
    width:26px !important;
    height:26px !important;
    font-size:26px !important;
    line-height:26px !important;
}
/* Events */
[class^=channelNotice_] > [class^=textBlock_] {
    white-space: normal;
}




/*** Channels ***/

/* Width */
@layer {
[class^="sidebarList_"] {
    width:170px !important;
}
}
/* Channel padding */
[class^="sidebarList_"] [class^="scroller_"] {
    margin-right:-4px;
}
/* Nitro icon */
[class^="guildIconV2Container__"] {
    display:none !important;
}
/* Threads */
[data-list-item-id^="channels_"] { 
    text-transform: lowercase;
}
/* Invite/context menu icon */
[class^="sidebar_"] [aria-label="Create Invite" i],
[class^="sidebar_"] [aria-label="Invite to Server" i],
[class^="sidebar_"] [aria-label="Channel Options" i] {
    display:none !important;
}
[class^="sidebar_"] [class^="iconVisibility_"] [class^="channelInfo_"] {
    margin:0px;
}
/* Name overlay (to cover width) */
[aria-label^="User area" i] > [class^="container_"] {
    position: relative;
}
[aria-label^="User area" i] > [class^="container_"] > :last-child {
    width: 123px;
    height: 100%;
    right: 0;
    display: none;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    padding-right:10px;
    background-color: var(--background-secondary-alt);
    border-radius: var(--radius-sm);
}
[aria-label^="User area" i] > [class^="container_"]:hover > :last-child {
    display: flex;
}
[aria-label^="User area" i] > [class^="container_"] > :last-child > button {
    width:34px;
}
/* Voice users */
[class^="sidebar_"] [class^="list_"] {
    padding-left:2px;
}
/* Voice buttons */
[class^="sidebar_"] [class^="actionButtons_"] button {
    font-size:0px;
}
[class^="sidebar_"] [class^="actionButtons_"] svg {
    margin:0px;
}
/* Live icon */
[class^="voiceUser_"] [class^="live_"] {
    font-size:0px;
}



/*** Text ***/

/* Text colour */
.theme-dark [class^="markup_"] {
    color:#eee;
}



/*** IRC ***/

/* Bot tag */
[class*="hasSystemTag"], [class^="botTag"], [class^="botTag"] + [class^="username_"] {
    display:none;
}
/* Cringy ass server spam badges */
[class^="chiplet"] {
    display:none !important; 
}
/* Poll badge */
[class*="hasBadges_"] {
    font-size: 0; 
}
[class*="hasBadges_"] > * {
    font-size: 16px !important;
}
[class*="badgesContainer_"] {
    margin-left:4px !important;
}
/* Margin between name and message */
[class^="headerText_"] {
    margin-right:0px !important;
}
[class^="username_"] {
    margin-right:0.25rem;
}
/* User names */
[class*="messageContent_"] strong:nth-child(1):has(span):has(+span) {
    font-weight:normal;
    color:#ccc;
    margin-right:0.25rem;
}

/* Highlights for all replies */
div[class^=message_]:has(div[aria-label$="replying to Ezid"]:first-child) {
    background: var(--background-mentioned);
}



/*** Discord user names ***/
[id^="message-username-"] > [class^="username_"] {
    font-size:100%;
}
[id^="message-username-"] > [class^="username_"]:before {
    content:"<";
}
[id^="message-username-"] > [class^="username_"]:after {
    content:">";
}



/*** Timestamps ***/

/* Always visible */
.theme-dark [class*="timestampVisibleOnHover"] {
    opacity:1;
}
/* Thinner */
[class^="latin12CompactTimeStamp_"] {
    width:calc(5ch) !important;
}



/*** Spam ***/

/* Super reactions */
[aria-label="Add Super Reaction"] {
    display:none !important;
}
/* Stickers */
[class*="emojiStickersDivider"], [class*="emojiStickersDivider"] ~ div {
    display:none;
}
/* Emojis */
[class^="nitroTopDividerContainer_"], [class^="premiumHeader_"], [class*="premiumEmoji_"] {
    display:none;
}
/** App launcher */
[class^="channelAppLauncher_"] {
    display:none;
}

/* Minecraft admin role */
[style*="rgb(31, 139, 76)"] {
    color: rgb(52, 152, 219) !important;
}
